.open-course-form {
  .ant-input-number,
  .ant-picker,
  .ant-space {
    width: 100%;
  }

  .ant-space-item {
    width: 50%;
  }

  .from-items-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;

    .ant-form-item {
      width: 48%;
    }
  }
}
